/*

Primary Blue (Dark Blue): #0F4C81;
Secondary Blue (Medium Blue): #638CC7;
Baby Blue: #B6CADA;
Monument Gray: #84898C;
Stucco Brown: #A48D7F;

*/
/* Box-Sizing: Border Box using the Universal selector */
* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

#about img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

#hero h1, h4, p {
  text-align: center;
  line-height: 1.3;
}

#hero {
  background-color: #0F4C81;
  padding: 100px;
}

#about h1 {
  text-align: center;
}

#about p {
  text-align: left;
}

#work p {
  text-align: left;
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#casestudy p {
  text-align: left;
}

#casestudy h2, h3, h4, h5 {
  text-align: center;
}

#casestudy .button {
  text-align: center;
}

#contact p {
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact a {
  text-align: center;
}

#contact .column {
  float: left;
}

/* Social Media logos */
svg {
  position: relative;
  width: 32px;
  height: auto;
}

/* links */
a {
  color: #0F4C81;
  text-decoration: none;
  text-align: center;
  /* no underlining */
}

/* link styling hierarchy must be visited, hover and then active and then psuedo classes. focus is for people using keyboards, not a mouse */
/* make visited a different color than active so people know they clicked on it */
a:visited {
  color: #A48D7F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #638CC7;
  text-decoration: none;
}

a:active {
  color: #84898C;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 0rem;
  font-family: 'Montserrat', sans-serif;
  color: #0F4C81;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small, .text_small {
  font-size: 0.833rem;
}

/* button styles for viewing prototypes */
.button {
  display: block;
  background-color: #0F4C81;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 6px;
  border-bottom: 2px solid #B6CADA;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #A48D7F;
  color: #ffffff;
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.button:hover {
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.button:active {
  opacity: 0.6;
  /* reduces the opacity of the button to 60 % when active */
}

/* Email me button */
.btnemail {
  display: inline-block;
  background-color: transparent;
  color: #0F4C81;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 4px;
  border-radius: 4px;
  border: 4px solid #0F4C81;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.btnemail:visited {
  background-color: #A48D7F;
  color: #ffffff;
  /* needed to override the default link color */
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.btnemail:hover {
  background-color: #0F4C81;
  color: #ffffff;
  /* needed to override the default link color */
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.btnemail:active {
  opacity: 0.6;
  /* reduces the opacity of the button to 60 % when active */
}

/* Download my Resume button */
.btnresume {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  color: #0F4C81;
  /* needed to override the default link color */
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #0F4C81;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.btnresume:visited {
  background-color: #A48D7F;
  color: #ffffff;
  /* needed to override the default link color */
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.btnresume:hover {
  background-color: #0F4C81;
  color: #ffffff;
  /* needed to override the default link color */
  opacity: 0.8;
  /* reduces the opacity of the button to 80 % */
}

.btnresume:active {
  opacity: 0.6;
  /* reduces the opacity of the button to 60 % when active */
}

/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

header {
  position: relative;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75);
}

.logo {
  max-width: 350px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

nav>ul {
  display: inline-block;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #A48D7F;
}

nav>ul>li>a:hover {
  color: #638CC7;
}

nav>ul>li>a:active {
  color: #84898C;
}

.center {
  text-align: center;
  margin: auto;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.waterfront-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#hero h4 {
  margin-top: 1rem;
}

#work h3 {
  margin-top: 1rem;
}

#about h2, h4 {
  margin-top: 1rem;
}


waterfront-illustration {
  width: 70%;
  max-width: 70%;
  height: auto;
}


/* Code for Screen Break Points */


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 28px
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}



/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-md-1 {
    width: 8.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }
}

/* ==============================
Extra Large devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
